.to-do-deadline-action {
  border: 1px solid transparent;
  width: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;

  &.display-none {
    display: none;
  }

  &:hover {
    border: 1px solid #E4E7EA;
    border-radius: 0.2rem;
  }

  & .to-do-deadline-action-icon {
    width: 1.25rem;
  }
}