.new-button {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.2rem 0.7rem 0.2rem 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;

  &:hover {
    border-color: #e7e9ec;
  }

  & .new-button-icon {
    width: 1.2rem;
  }

  & .new-button-title {
    color: #585c60;
    font-size: 0.8rem;
  }
}
