.to-do-title {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.25rem 0.6rem;
  border-radius: 0.3rem;

  &.background-blue {
    background-color: #cbe2ff;
  }

  & .to-do-title-done {
    width: 0.8rem;
    aspect-ratio: 1;
    border-radius: 0.2rem;
    border: 1px solid #c1c3c6;
    appearance: none;

    &:checked {
      background-color: #0162c1;
      border-color: #0162c1;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: scale(1.1);

      &::before {
        content: "✓";
        position: absolute;
        color: #ffffff;
        font-size: 0.7rem;
      }
    }
  }

  & .to-do-title-title {
    font-size: 0.9rem;
  }
}
