.to-do-description {
  padding-left: 1.4rem;
  font-size: 0.9rem;
  caret-color: #0162c1;

  &:focus {
    outline: none;
  }

  &:empty::before {
    content: attr(data-placeholder);
    color: #b0b2b8;
  }
}