.list-container {
  display: flex;
  gap: 0.3rem;
  padding: 0.1rem 0.7rem 0.1rem 0.4rem;
  border-radius: 0.3rem;
  align-items: center;

  & .list-icon {
    width: 1.3rem;
  }

  & .list-title {
    font-weight: 500;
    font-size: 0.9rem;
  }

  .list-to-dos-count {
    margin-left: auto;
    color: #8a9099;
    font-size: 0.9rem;
  }
}
