.project-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .to-dos-list {
    display: flex;
    flex-direction: column;
    padding-top: 1.2rem;
    margin-left: -0.5rem;
  }
}
