.to-do-priority-action {
  border: 1px solid transparent;
  width: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  position: relative;

  &.display-none {
    display: none;
  }

  &:hover {
    border: 1px solid #E4E7EA;
    border-radius: 0.2rem;
  }

  & .to-do-priority-action-icon {
    width: 1.25rem;
  }

  & .to-do-priority-action-dropdown {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    position: absolute;
    background-color: #2D3238;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: max-content;
    top: 1.8rem;

    & .dropdown-priority {
      display: flex;
      gap: 0.3rem;
      padding-left: 0.3rem;
      padding-right: 0.5rem;
      border-radius: 0.2rem;

      &:hover {
        background-color: #6A98F8;
      }

      & .dropdown-priority-icon {
        width: 1.25rem;
      }
    
      & .dropdown-priority-title {
        font-size: 0.9rem;
        color: #ffffff;
        font-weight: 600;
      }
    }

    &.display-none {
      display: none;
    }
  }
}