.project-label {
  display: flex;
  gap: 0.3rem;
  padding: 0.1rem 0.7rem 0.1rem 0.4rem;
  border-radius: 0.3rem;
  align-items: center;

  &.selected {
    background-color: #E1E4E8;
  }

  & .project-label-icon {
    width: 1.3rem;
  }

  & .project-label-title {
    font-size: 0.9rem;
    cursor: default;
  }
}
