.sidebar {
  grid-area: sidebar;
  background-color: #f5f6f8;

  & .navigation {
    padding: 0.8rem;

    & .lists-projects-container {
      display: flex;
      flex-direction: column;
      gap: 0.1rem;
    }
  }
}
